<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://preview.c9users.io/zethar/computer_science_coursework/2ndTry/mathquill-0.10.1/mathquill.css"/>
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	    <script src="https://preview.c9users.io/zethar/computer_science_coursework/2ndTry/mathquill-0.10.1/mathquill.js"></script>
        <script>
			var MQ = MathQuill.getInterface(2);
	    </script>
        <title>2ndTry</title>
    </head>
    <body>