<% include ../partials/header %>

<h3>Examboards</h3>
<% for(var i=0;i<examBoards.length;i++){ %>
        <h4><a href="/users/<%= userId %>/examboards/<%= examBoards[i].id %>"><%= examBoards[i].name %></a></h4>
        <h5>Modules</h5>
		<% for(var t=0;t<examBoards[i].modules.length;t++){ %>
			<li><%= examBoards[i].modules[t].name %></li>
		<% } %>
<% } %>

<% include ../partials/footer %>