<% include ../partials/header %>

<nav>
	<div class="nav-wrapper">
		<a href="/" class="brand-logo">-1^(1/2) 2^3 sigma pi</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li>
				<a href="/users/<%= user._id %>">
					<i class="material-icons left">dashboard</i>
					Home
				</a>
			</li>
			<li class="active">
				<a href="/users/<%= user._id %>/tests/new">
					<i class="material-icons left">assignment</i>
					Test
				</a>
			</li>
			<li>
				<a href="/logout">
					<i class="material-icons left">pause</i>
					Logout
				</a>
			</li>
		</ul>
	</div>
</nav>

<h1>New test page</h1>


<form action="/users/<%= user._id %>/tests" method="POST">
	<p class="range-field">
		<input type="range" name="time" id="test5" min="4" max="180" required />
    </p>
    <input type="text" name="examBoardName" placeholder="Examboard" required><br>
    <input type="text" name="moduleName" placeholder="Module" required><br>
    <ul>
        <li><input type="text" name="topic1" placeholder="topic 1"></li>
        <li><input type="text" name="topic2" placeholder="topic 2"></li>
        <li><input type="text" name="topic3" placeholder="topic 3"></li>
        <li><input type="text" name="topic4" placeholder="topic 4"></li>
        <li><input type="text" name="topic5" placeholder="topic 5"></li>
        <li><input type="text" name="topic6" placeholder="topic 6"></li>
        <li><input type="text" name="topic7" placeholder="topic 7"></li>
        <li><input type="text" name="topic8" placeholder="topic 8"></li>
    </ul>
	
    <button>Submit</button>
</form>

<% include ../partials/footer %>