<% include ../partials/header %>

<h1>Show test page</h1>
<ul>
    <li>Examboard:<%=test.examBoard%></li>
    <li>Module:<%=test.module%></li>
    <h4>Topics:</h4>
    <ul>
        <% for(var i=0;i<test.topics.length;i++){ %>
        <li><%=test.topics[i].name%></li>
        <% } %>
    </ul>
</ul>

<% include ../partials/footer %>