        <script>
            $(document).ready(function() {
              $('select').material_select();
              $('ul.tabs').tabs();
              $('.scrollspy').scrollSpy();
            });
        </script>
    </body>
</html>

