        <script>
            $(document).ready(function() {
              $('select').material_select();
              $('ul.tabs').tabs();
              $('.scrollspy').scrollSpy();
            });
        </script>

        <style>
            html {
		        background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/5ywk0LA/abstract-polygonal-geometric-surface-loop-1a-clean-soft-low-poly-motion-background-of-shifting-pure-bright-white-grey-triangles-seamless-loop-4k-uhd-fullhd_se6csy-4l_thumbnail-full01.png");
		        background-size:100% 100%;
                background-repeat: no-repeat;
		        height:100%;
		        width:100%;
	        }
	        nav i {
		        color: black;
	        }
	        nav a span {
		        color: black;
	        }
	        .nav-wrapper {
		        background-color: white;
	        }
	        brand-logo span {
		        color: black;
	        }
        </style>        

    </body>
</html>

