<!DOCTYPE html>
<html>
    <head>
		<!-- need to include ion.rangeSlider-2.1.6 stuff -->

		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<link rel="stylesheet" href="https://rawgit.com/MatthewLoveday/MathsSite/master/MathsWebsite/other_modules/mathquill-0.10.1/mathquill.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://rawgit.com/MatthewLoveday/MathsSite/master/MathsWebsite/other_modules/mathquill-0.10.1/mathquill.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>\-

		<script>
			var MQ = MathQuill.getInterface(2);
		</script>

		<title>Maths Site</title>
    </head>
    <body>
        