<!DOCTYPE html>
<html>
    <head>
		<link rel="stylesheet" href="https://narsil.github.io/mathquill.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://narsil.github.io/mathquill.js"></scrip??t>
		<script>
			var MQ = MathQuill.getInterface(2);
		</script>
        <title>2ndTry</title>
    </head>
    <body>