<% include ./partials/header %>

	<p>test</p>
	<!-- static stuff -->
	<p>Solve <span id="problem">ax^2 + bx + c = 0</span>.</p>

	<script>
	  	var problemSpan = document.getElementById('problem');
		MQ.StaticMath(problemSpan);
	</script>
	<!-- dynamic stuff -->

<% include ./partials/footer %>