<% include partials/header %>

<h1>Login form</h1>

<div class="row">
	<form class="col s12" action="/login" method="POST">
		<div class="row">
			<div class="input-field col s6">
				<input id="username" class="validate" type="text" name="username" required>
				<label for="username">Username</label>
			</div>
			<div class="input-field col s6">
				<input id="password" class="validate" type="password" name="password" required>
				<label for="password">Password</label>
			</div>
		</div>
		<div class="row">
			<button class="btn waves-effect waves-light" type="submit" name="action">Submit
				<i class="material-icons right">send</i>
			</button>
		</div>
	</form>
</div>



<% include partials/footer %>