<% include partials/header %>

<h1>Sign up form</h1>

<% if(userNameTaken){ %>
	<p>Username Taken</p>
<% } %>

<div class="row">
	<form class="col s12" action="/register" method="POST">
		<div class="row">
			<div class="input-field col s6">
				<input id="username" class="validate" type="text" name="username" required>
				<label for="username">Username</label>
			</div>
			<div class="input-field col s6">
				<input id="password" class="validate" type="password" name="password" required>
				<label for="password">Password</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<input id="email" class="validate" type="email" name="email" required>
				<label for="email" data-error="Not a viable email address" data-success="Viable email address">Email</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<input id="targetGrade" class="validate" type="text" name="targetGrade" required>
				<label for="targetGrade">Target Grade</label>
			</div>
			<div class="input-field col s6">
				<input id="examBoard" class="validate" type="text" name="examBoard" required>
				<label for="examBoard">Examboard</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s2">
				<input id="module1" class="validate" type="text" name="module1">
				<label for="module1">Module 1</label>
			</div>
			<div class="input-field col s2">
				<input id="module2" class="validate" type="text" name="module2">
				<label for="module2">Module 2</label>
			</div>
			<div class="input-field col s2">
				<input id="module3" class="validate" type="text" name="module3">
				<label for="module3">Module 3</label>
			</div>
			<div class="input-field col s2">
				<input id="module4" class="validate" type="text" name="module4">
				<label for="module4">Module 4</label>
			</div>
			<div class="input-field col s2">
				<input id="module5" class="validate" type="text" name="module5">
				<label for="module5">Module 5</label>
			</div>
			<div class="input-field col s2">
				<input id="module6" class="validate" type="text" name="module6">
				<label for="module6">Module 6</label>
			</div>
		</div>
		<div class="row">
			<button class="btn waves-effect waves-light" type="submit" name="action">Submit
				<i class="material-icons right">send</i>
			</button>
		</div>
	</form>
</div>




<% include partials/footer %>