<% include ../partials/header %>

<div class="container">
	<table>
		<thead>
			<tr>
				<th>Admins</th>
				<th>Teachers</th>
				<th>Students</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>

<script>
	var t = 1;
	var roleType = 1;
	<% for(var i=0;i<data.users.length;i++){ %>
			
		<% if(data.users[i].role == "teacher"){ %>
			roleType = 2;
		<% }else if(data.users[i].role == "user"){ %>
			roleType = 3;
		<% } %>
			while(!$("tbody tr:nth-child("+t+") :nth-child("+roleType+")").is(":empty") && $("tbody tr:nth-child("+t+")").length){
				t++;
			}
			if(!($("tbody tr:nth-child("+t+")").length)){
				$("tbody").append("<tr><td></td><td></td><td></td></tr>");
				
			}
			$("tbody tr:nth-child("+t+") :nth-child("+roleType+")").append("<a href='/users/<%= data.admin %>/users/<%= data.users[i]._id %>'><%= data.users[i].username %></a>");
		
		t = 1;
		roleType = 1;
	<% } %>
</script>



<% include ../partials/footer %>